body {
    background:#F2E6DF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{
    display: flex;
    flex-wrap:wrap;
}

.assignment{
    width: 22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background:#FFFACD;
    border-radius:5px;
}

.assignment img{
    width:200px;
    margin:10px;
    border:4px solid #FFF;
    display: block;
    margin:auto;
}

.assignment img:hover{
    border:4px dashed #FFA07A;
}

h1 {
    color:#FFF;
    text-align:center;
}

h1:hover {
    color:#F2A766;
}

h2{
    text-align:center;
}

a{
    text-decoration:none;
    color:#FFF;
}

a:hover {
    color:#FFA07A;
}